/* line 7, ../../app/sass/common.sass */
.article-nav-list {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 21px;
  margin: 0;
}

/* line 12, ../../app/sass/common.sass */
.article-nav-item {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

/* line 16, ../../app/sass/common.sass */
.article-nav-link {
  display: block;
  background: #eeeeee;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 25, ../../app/sass/common.sass */
.article-nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 30, ../../app/sass/common.sass */
#article-nav-selected {
  background: black;
  color: white;
}

/* line 34, ../../app/sass/common.sass */
.info {
  display: block;
  background: black;
  color: white;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}

/* line 43, ../../app/sass/common.sass */
#content-wrap {
  padding: 40px 0;
}

/* line 46, ../../app/sass/common.sass */
#search-input {
  width: 122px;
}

/* line 49, ../../app/sass/common.sass */
#search {
  display: inline;
  float: right;
  padding: 3px 0 0;
}

/* line 53, ../../app/sass/common.sass */
#new-post {
  display: inline;
  float: right;
}

/* line 56, ../../app/sass/common.sass */
#current-profile-link {
  display: block;
  width: 135px;
  line-height: 17px;
}
/* line 60, ../../app/sass/common.sass */
#current-profile-link:hover {
  text-decoration: none;
}

/* line 63, ../../app/sass/common.sass */
#current-user:hover {
  text-decoration: none;
}

/* line 66, ../../app/sass/common.sass */
#notify {
  text-align: left;
  width: 135px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* line 73, ../../app/sass/common.sass */
#notify-link:hover {
  text-decoration: none;
}

/* line 76, ../../app/sass/common.sass */
#current-user-wrap {
  display: inline;
  float: left;
}

/* line 79, ../../app/sass/common.sass */
#profile-avatar {
  display: inline;
  float: left;
}

/* line 82, ../../app/sass/common.sass */
#user-notify-wrap {
  display: inline;
  float: left;
  height: 50px;
  position: relative;
}

/* line 87, ../../app/sass/common.sass */
.log-btn, #log-out {
  display: inline;
  float: right;
  position: relative;
}

/* line 91, ../../app/sass/common.sass */
.log-btn {
  top: -6px;
  margin: 0 0 0 3px;
}

/* line 95, ../../app/sass/common.sass */
#log-out {
  top: -2px;
}

/* line 98, ../../app/sass/common.sass */
.side-profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 101, ../../app/sass/common.sass */
#profile-avatar-photo {
  padding: 0 5px 0 0;
  width: 50px;
  height: 50px;
}

/* line 106, ../../app/sass/common.sass */
.crumb-link:hover {
  text-decoration: none;
}

/* line 109, ../../app/sass/common.sass */
.avatar {
  padding: 0 5px 0 0;
  width: 15px;
}

/* line 113, ../../app/sass/common.sass */
.tag {
  display: inline;
  float: left;
  height: 20px;
  background: #e2eaf0;
  padding: 1px 5px 0;
  margin: 0 7px 0 0;
}

/* line 120, ../../app/sass/common.sass */
.last-reply-time {
  display: inline;
  float: right;
  color: #999999;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: -1px 0 0;
}

/* line 127, ../../app/sass/common.sass */
.tag:hover {
  background: #4a6d8c;
  color: #e2eaf0;
  text-decoration: none;
}

/* line 132, ../../app/sass/common.sass */
.sidebar-block {
  margin: 0 0 10px;
}

/* line 135, ../../app/sass/common.sass */
.sidebar-title {
  padding: 0 0 13px;
}

/* line 138, ../../app/sass/common.sass */
.sidebar-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 141, ../../app/sass/common.sass */
.all-tag-item {
  margin-bottom: 5px;
}

/* line 144, ../../app/sass/common.sass */
.sidebar-link {
  display: inline;
  float: right;
}
/* line 146, ../../app/sass/common.sass */
.sidebar-link:hover {
  text-decoration: none;
}

/* line 149, ../../app/sass/common.sass */
.sidebar-link-p {
  overflow: hidden;
  *zoom: 1;
}

/* line 152, ../../app/sass/common.sass */
.issue-title-link {
  display: block;
  padding: 4px 0 0;
}
/* line 155, ../../app/sass/common.sass */
.issue-title-link:hover {
  text-decoration: none;
}

/* line 158, ../../app/sass/common.sass */
.user {
  display: block;
  padding: 0 0 4px;
}

/* line 162, ../../app/sass/common.sass */
.user:hover {
  text-decoration: none;
}

/* line 165, ../../app/sass/common.sass */
.author {
  display: inline;
  float: right;
}
/* line 167, ../../app/sass/common.sass */
.author:hover {
  text-decoration: none;
}

/* line 170, ../../app/sass/common.sass */
.article-pager {
  text-align: center;
}

/* line 173, ../../app/sass/common.sass */
.error {
  color: red;
}

/* line 176, ../../app/sass/common.sass */
#title-404, #title-500 {
  text-align: center;
  padding: 40px 0 0;
}

/* line 180, ../../app/sass/common.sass */
#title-404 {
  font-size: 30px;
}

/* line 183, ../../app/sass/common.sass */
#title-500 {
  font-size: 25px;
}
