/* line 7, ../../app/sass/common.sass */
a:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}

/* line 10, ../../app/sass/common.sass */
.article-nav-list {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 21px;
  margin: 0;
}

/* line 15, ../../app/sass/common.sass */
.article-nav-item {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

/* line 19, ../../app/sass/common.sass */
.article-nav-link {
  display: block;
  background: #eeeeee;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 28, ../../app/sass/common.sass */
.article-nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 33, ../../app/sass/common.sass */
.article-nav-link {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 37, ../../app/sass/common.sass */
#article-nav-selected {
  background: black;
  color: white;
}

/* line 41, ../../app/sass/common.sass */
.info {
  display: block;
  background: black;
  color: white;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}

/* line 50, ../../app/sass/common.sass */
.info {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 54, ../../app/sass/common.sass */
#content-wrap {
  padding: 40px 0;
}

/* line 57, ../../app/sass/common.sass */
#search-input {
  width: 122px;
  width: 143px \9;
}

/* line 61, ../../app/sass/common.sass */
#search {
  display: inline;
  float: right;
  padding: 3px 0 0;
}

/* line 65, ../../app/sass/common.sass */
#new-post {
  display: inline;
  float: right;
}

/* line 68, ../../app/sass/common.sass */
#current-profile-link {
  display: block;
  width: 135px;
  line-height: 17px;
}
/* line 72, ../../app/sass/common.sass */
#current-profile-link:hover {
  text-decoration: none;
}

/* line 75, ../../app/sass/common.sass */
#current-user:hover {
  text-decoration: none;
}

/* line 78, ../../app/sass/common.sass */
#notify {
  text-align: left;
  width: 135px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* line 85, ../../app/sass/common.sass */
#notify-link:hover {
  text-decoration: none;
}

/* line 88, ../../app/sass/common.sass */
#current-user-wrap {
  display: inline;
  float: left;
}

/* line 91, ../../app/sass/common.sass */
#profile-avatar {
  display: inline;
  float: left;
}

/* line 94, ../../app/sass/common.sass */
#user-notify-wrap {
  display: inline;
  float: left;
  height: 50px;
  position: relative;
}

/* line 99, ../../app/sass/common.sass */
.log-btn, #log-out {
  display: inline;
  float: right;
  position: relative;
}

/* line 103, ../../app/sass/common.sass */
.log-btn {
  top: -6px;
  margin: 0 0 0 3px;
}

/* line 107, ../../app/sass/common.sass */
#log-out {
  top: -2px;
}

/* line 110, ../../app/sass/common.sass */
.side-profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 113, ../../app/sass/common.sass */
#profile-avatar-photo {
  display: block;
  padding: 0 5px 0 0;
  max-width: 50px;
  height: 50px;
}

/* line 120, ../../app/sass/common.sass */
.crumb-link:hover {
  text-decoration: none;
}

/* line 123, ../../app/sass/common.sass */
.avatar {
  padding: 0 5px 0 0;
  width: 15px;
}

/* line 127, ../../app/sass/common.sass */
.tag {
  display: inline;
  float: left;
  height: 20px;
  background: #e2eaf0;
  padding: 1px 5px 0;
  margin: 0 7px 0 0;
}

/* line 134, ../../app/sass/common.sass */
.last-reply-time {
  display: inline;
  float: right;
  color: #999999;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: -1px 0 0;
}

/* line 141, ../../app/sass/common.sass */
.tag:hover {
  background: #4a6d8c;
  color: #e2eaf0;
  text-decoration: none;
}

/* line 146, ../../app/sass/common.sass */
.sidebar-block {
  margin: 0 0 10px;
}

/* line 149, ../../app/sass/common.sass */
.sidebar-title {
  padding: 0 0 13px;
}

/* line 152, ../../app/sass/common.sass */
.sidebar-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 155, ../../app/sass/common.sass */
.all-tag-item {
  margin-bottom: 5px;
}

/* line 158, ../../app/sass/common.sass */
.sidebar-link {
  display: inline;
  float: right;
}
/* line 160, ../../app/sass/common.sass */
.sidebar-link:hover {
  text-decoration: none;
}

/* line 163, ../../app/sass/common.sass */
.sidebar-link-p {
  overflow: hidden;
  *zoom: 1;
}

/* line 166, ../../app/sass/common.sass */
.issue-title-link {
  display: block;
  padding: 4px 0 0;
}
/* line 169, ../../app/sass/common.sass */
.issue-title-link:hover {
  text-decoration: none;
}

/* line 172, ../../app/sass/common.sass */
.user {
  display: block;
  padding: 0 0 4px;
}

/* line 176, ../../app/sass/common.sass */
.user:hover {
  text-decoration: none;
}

/* line 179, ../../app/sass/common.sass */
.author {
  display: inline;
  float: right;
}
/* line 181, ../../app/sass/common.sass */
.author:hover {
  text-decoration: none;
}

/* line 184, ../../app/sass/common.sass */
.article-pager {
  text-align: center;
}

/* line 187, ../../app/sass/common.sass */
.error {
  color: red;
}

/* line 190, ../../app/sass/common.sass */
#title-404, #title-500 {
  text-align: center;
  padding: 40px 0 0;
}

/* line 194, ../../app/sass/common.sass */
#title-404 {
  font-size: 30px;
}

/* line 197, ../../app/sass/common.sass */
#title-500 {
  font-size: 25px;
}
