/* line 7, ../../app/sass/common.sass */
a:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}

/* line 10, ../../app/sass/common.sass */
.no-record-index {
  padding: 11px 0 0 14px;
}

/* line 13, ../../app/sass/common.sass */
.no-record-tags, .no-record-users {
  padding: 0 0 0 20px;
}

/* line 16, ../../app/sass/common.sass */
.no-record-side {
  padding: 0 0 0 10px;
}

/* line 19, ../../app/sass/common.sass */
.article-nav-list {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 21px;
  margin: 0;
}

/* line 24, ../../app/sass/common.sass */
.article-nav-item {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

/* line 28, ../../app/sass/common.sass */
.article-nav-link {
  display: block;
  background: #eeeeee;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 37, ../../app/sass/common.sass */
.article-nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 42, ../../app/sass/common.sass */
.article-nav-link {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 46, ../../app/sass/common.sass */
#article-nav-selected {
  background: black;
  color: white;
}

/* line 50, ../../app/sass/common.sass */
.info {
  display: block;
  background: black;
  color: white;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}

/* line 59, ../../app/sass/common.sass */
.info {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 63, ../../app/sass/common.sass */
#content-wrap {
  padding: 40px 0;
}

/* line 66, ../../app/sass/common.sass */
#search-input {
  width: 122px;
  width: 143px \9;
}

/* line 70, ../../app/sass/common.sass */
#search {
  display: inline;
  float: right;
  padding: 3px 0 0;
}

/* line 74, ../../app/sass/common.sass */
#new-post {
  display: inline;
  float: right;
}

/* line 77, ../../app/sass/common.sass */
#current-profile-link {
  display: block;
  width: 135px;
  line-height: 17px;
}
/* line 81, ../../app/sass/common.sass */
#current-profile-link:hover {
  text-decoration: none;
}

/* line 84, ../../app/sass/common.sass */
#current-user:hover {
  text-decoration: none;
}

/* line 87, ../../app/sass/common.sass */
#notify {
  text-align: left;
  width: 135px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* line 94, ../../app/sass/common.sass */
#notify-link:hover {
  text-decoration: none;
}

/* line 97, ../../app/sass/common.sass */
#current-user-wrap {
  display: inline;
  float: left;
}

/* line 100, ../../app/sass/common.sass */
#profile-avatar {
  display: inline;
  float: left;
}

/* line 103, ../../app/sass/common.sass */
#user-notify-wrap {
  display: inline;
  float: left;
  height: 50px;
  position: relative;
}

/* line 108, ../../app/sass/common.sass */
.log-btn, #log-out {
  display: inline;
  float: right;
  position: relative;
}

/* line 112, ../../app/sass/common.sass */
.log-btn {
  top: -6px;
  margin: 0 0 0 3px;
}

/* line 116, ../../app/sass/common.sass */
#log-out {
  top: -2px;
}

/* line 119, ../../app/sass/common.sass */
.side-profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 122, ../../app/sass/common.sass */
#profile-avatar-photo {
  display: block;
  padding: 0 5px 0 0;
  max-width: 50px;
  height: 50px;
}

/* line 129, ../../app/sass/common.sass */
.crumb-link:hover {
  text-decoration: none;
}

/* line 132, ../../app/sass/common.sass */
.avatar {
  padding: 0 5px 0 0;
  width: 15px;
}

/* line 136, ../../app/sass/common.sass */
.tag {
  display: inline;
  float: left;
  height: 20px;
  background: #e2eaf0;
  padding: 1px 5px 0;
  margin: 0 7px 0 0;
}

/* line 143, ../../app/sass/common.sass */
.last-reply-time {
  display: inline;
  float: right;
  color: #999999;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: -1px 0 0;
}

/* line 150, ../../app/sass/common.sass */
.tag:hover {
  background: #4a6d8c;
  color: #e2eaf0;
  text-decoration: none;
}

/* line 155, ../../app/sass/common.sass */
.sidebar-block {
  margin: 0 0 10px;
}

/* line 158, ../../app/sass/common.sass */
.sidebar-title {
  padding: 0 0 13px;
}

/* line 161, ../../app/sass/common.sass */
.sidebar-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 164, ../../app/sass/common.sass */
.all-tag-item {
  margin-bottom: 5px;
}

/* line 167, ../../app/sass/common.sass */
.sidebar-link {
  display: inline;
  float: right;
}
/* line 169, ../../app/sass/common.sass */
.sidebar-link:hover {
  text-decoration: none;
}

/* line 172, ../../app/sass/common.sass */
.sidebar-link-p {
  overflow: hidden;
  *zoom: 1;
}

/* line 175, ../../app/sass/common.sass */
.issue-title-link {
  display: block;
  padding: 4px 0 0;
}
/* line 178, ../../app/sass/common.sass */
.issue-title-link:hover {
  text-decoration: none;
}

/* line 181, ../../app/sass/common.sass */
.user {
  display: block;
  padding: 0 0 4px;
}

/* line 185, ../../app/sass/common.sass */
.user:hover {
  text-decoration: none;
}

/* line 188, ../../app/sass/common.sass */
.author {
  display: inline;
  float: right;
}
/* line 190, ../../app/sass/common.sass */
.author:hover {
  text-decoration: none;
}

/* line 193, ../../app/sass/common.sass */
.article-pager {
  text-align: center;
}

/* line 196, ../../app/sass/common.sass */
.error {
  color: red;
}

/* line 199, ../../app/sass/common.sass */
#title-404, #title-500 {
  text-align: center;
  padding: 40px 0 0;
}

/* line 203, ../../app/sass/common.sass */
#title-404 {
  font-size: 30px;
}

/* line 206, ../../app/sass/common.sass */
#title-500 {
  font-size: 25px;
}
