/* line 4, ../../app/sass/new-edit.sass */
#textarea {
  width: 690px;
}

/* line 7, ../../app/sass/new-edit.sass */
.reply-actions {
  text-align: right;
}

/* line 10, ../../app/sass/new-edit.sass */
#new-edit-title {
  margin: 0;
}
