/* line 4, ../../app/sass/notifications.sass */
.notify-item-wrap {
  border-bottom: 1px dotted #aaaaaa;
}

/* line 7, ../../app/sass/notifications.sass */
.notify-item {
  overflow: hidden;
  *zoom: 1;
  padding: 12px 0 11px 14px;
  border-top: 1px dotted #aaaaaa;
}

/* line 12, ../../app/sass/notifications.sass */
.unread {
  background: #fffce6;
}

/* line 15, ../../app/sass/notifications.sass */
.notify-user-name:hover {
  text-decoration: none;
}

/* line 18, ../../app/sass/notifications.sass */
.last-reply-time {
  float: none;
}

/* line 21, ../../app/sass/notifications.sass */
.article-link:hover {
  text-decoration: none;
}

/* line 24, ../../app/sass/notifications.sass */
.notify-user-avatar {
  display: inline;
  float: left;
  padding: 2px;
  border: 1px solid #dddddd;
}

/* line 29, ../../app/sass/notifications.sass */
.profile-avatar-photo {
  display: block;
  width: 32px;
  height: 32px;
}

/* line 34, ../../app/sass/notifications.sass */
.notify-comment {
  display: inline;
  float: left;
  padding: 0 0 0 10px;
}
