/* line 5, ../../app/sass/common/header.sass */
#logo {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  line-height: 0;
  width: 200px;
  height: 120px;
  background: url('/img/sprite-s7f7228bc18.png') no-repeat 0 -25px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#logo {
  *display: inline;
}

/* line 9, ../../app/sass/common/header.sass */
#header {
  overflow: hidden;
  *zoom: 1;
  width: 940px;
  margin: 0 auto;
  padding: 15px 0 4px;
}

/* line 14, ../../app/sass/common/header.sass */
header {
  display: inline;
  float: left;
}

/* line 17, ../../app/sass/common/header.sass */
nav {
  display: inline;
  float: right;
  padding: 89px 0 0;
}

/* line 21, ../../app/sass/common/header.sass */
.nav-item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 0 0 6px;
}
/* line 7, ../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav-item {
  *display: inline;
}

/* line 25, ../../app/sass/common/header.sass */
.nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 33, ../../app/sass/common/header.sass */
.nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 38, ../../app/sass/common/header.sass */
#nav-selected {
  background: black;
  color: white;
}

/* line 3, ../../app/sass/common/footer.sass */
footer {
  color: #999999;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 30px 0 50px;
  letter-spacing: 1px;
}

/* line 11, ../../app/sass/common/footer.sass */
#sublogo {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  line-height: 0;
  width: 54px;
  height: 25px;
  background: url('/img/sprite-s7f7228bc18.png') no-repeat 0 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-decoration: none;
  margin: -4px 4px 0 0;
}
/* line 7, ../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#sublogo {
  *display: inline;
}

/* line 17, ../../app/sass/common/footer.sass */
#dreamerslab {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-decoration: none;
  background: url("/img/dreamerslab.png") no-repeat top left;
  padding: 0 0 3px 16px;
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}
/* line 7, ../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#dreamerslab {
  *display: inline;
}

/* line 9, ../../app/sass/common.sass */
.article-nav-list {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 21px;
  margin: 0;
}

/* line 14, ../../app/sass/common.sass */
.article-nav-item {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

/* line 18, ../../app/sass/common.sass */
.article-nav-link {
  display: block;
  background: #eeeeee;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 27, ../../app/sass/common.sass */
.article-nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 32, ../../app/sass/common.sass */
#content-wrap {
  padding: 40px 0;
}

/* line 35, ../../app/sass/common.sass */
#search-input {
  width: 122px;
}

/* line 38, ../../app/sass/common.sass */
#search {
  display: inline;
  float: right;
  padding: 3px 0 0;
}

/* line 42, ../../app/sass/common.sass */
#new-post {
  display: inline;
  float: right;
}

/* line 45, ../../app/sass/common.sass */
#current-profile-link {
  display: block;
  width: 135px;
  line-height: 17px;
}
/* line 49, ../../app/sass/common.sass */
#current-profile-link:hover {
  text-decoration: none;
}

/* line 52, ../../app/sass/common.sass */
#current-user:hover {
  text-decoration: none;
}

/* line 55, ../../app/sass/common.sass */
#notify {
  text-align: left;
  width: 135px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* line 62, ../../app/sass/common.sass */
#notify-link:hover {
  text-decoration: none;
}

/* line 65, ../../app/sass/common.sass */
#current-user-wrap {
  display: inline;
  float: left;
}

/* line 68, ../../app/sass/common.sass */
#profile-avatar {
  display: inline;
  float: left;
}

/* line 71, ../../app/sass/common.sass */
#user-notify-wrap {
  display: inline;
  float: left;
  height: 50px;
  position: relative;
}

/* line 76, ../../app/sass/common.sass */
#log-btn {
  display: inline;
  float: right;
  position: relative;
  top: -2px;
}

/* line 81, ../../app/sass/common.sass */
.side-profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 84, ../../app/sass/common.sass */
#profile-avatar-photo {
  padding: 0 5px 0 0;
  width: 50px;
}

/* line 88, ../../app/sass/common.sass */
.crumb-link:hover {
  text-decoration: none;
}

/* line 91, ../../app/sass/common.sass */
.avatar {
  padding: 0 5px 0 0;
  width: 15px;
}

/* line 95, ../../app/sass/common.sass */
.tag {
  display: inline;
  float: left;
  height: 20px;
  background: #e2eaf0;
  padding: 1px 5px 0;
  margin: 0 7px 0 0;
}

/* line 102, ../../app/sass/common.sass */
.last-reply-time {
  display: inline;
  float: right;
  color: #999999;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: -1px 0 0;
}

/* line 109, ../../app/sass/common.sass */
.tag:hover {
  background: #4a6d8c;
  color: #e2eaf0;
  text-decoration: none;
}

/* line 114, ../../app/sass/common.sass */
.sidebar-block {
  margin: 0 0 10px;
}

/* line 117, ../../app/sass/common.sass */
.sidebar-title {
  padding: 0 0 13px;
}

/* line 120, ../../app/sass/common.sass */
.sidebar-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 123, ../../app/sass/common.sass */
.all-tag-item {
  margin-bottom: 5px;
}

/* line 126, ../../app/sass/common.sass */
.sidebar-link {
  display: inline;
  float: right;
}
/* line 128, ../../app/sass/common.sass */
.sidebar-link:hover {
  text-decoration: none;
}

/* line 131, ../../app/sass/common.sass */
.sidebar-link-p {
  overflow: hidden;
  *zoom: 1;
}

/* line 134, ../../app/sass/common.sass */
.issue-title-link {
  display: block;
  padding: 0 0 5px;
}
/* line 137, ../../app/sass/common.sass */
.issue-title-link:hover {
  text-decoration: none;
}

/* line 140, ../../app/sass/common.sass */
.user {
  display: block;
  padding: 0 0 4px;
}

/* line 144, ../../app/sass/common.sass */
.user:hover {
  text-decoration: none;
}

/* line 147, ../../app/sass/common.sass */
.author {
  display: inline;
  float: right;
}
/* line 149, ../../app/sass/common.sass */
.author:hover {
  text-decoration: none;
}

/* line 152, ../../app/sass/common.sass */
.article-pager {
  text-align: center;
}

/* line 3, ../../app/sass/tags.sass */
#tags-wrap {
  padding: 10px 0 0;
}

/* line 6, ../../app/sass/tags.sass */
.tag-wrap {
  overflow: hidden;
  *zoom: 1;
  width: 300px;
  height: 245px;
  padding: 0 0 2px;
}
