/* line 4, ../../app/sass/topic.sass */
.tags-wrap {
  display: inline;
  float: left;
  margin: -2px 0 0;
}

/* line 8, ../../app/sass/topic.sass */
.reply, .edit, .delete {
  display: inline;
  float: right;
  margin: 3px 0 0 5px;
}

/* line 12, ../../app/sass/topic.sass */
#article-wrap {
  border-bottom: 1px dotted #888888;
  padding: 0 0 40px;
}

/* line 16, ../../app/sass/topic.sass */
#article-title {
  font-size: 25px;
  line-height: 28px;
  padding: 0 0 17px;
}

/* line 21, ../../app/sass/topic.sass */
#article-wrap p, #comment p {
  font-size: 14px;
  line-height: 19px;
}

/* line 25, ../../app/sass/topic.sass */
.comment-wrap {
  border-bottom: 1px dotted #888888;
  padding: 40px 0;
}

/* line 29, ../../app/sass/topic.sass */
#textarea {
  width: 690px;
}

/* line 32, ../../app/sass/topic.sass */
.reply-actions {
  text-align: right;
}

/* line 35, ../../app/sass/topic.sass */
.meta-wrap {
  overflow: hidden;
  *zoom: 1;
  padding: 10px 0 0;
}

/* line 39, ../../app/sass/topic.sass */
.comment-reply, .comment-delete {
  position: relative;
  top: -7px;
  float: left;
  margin: 0 3px 0 0;
}

/* line 45, ../../app/sass/topic.sass */
.article-author {
  display: inline;
  float: right;
}
/* line 47, ../../app/sass/topic.sass */
.article-author:hover {
  text-decoration: none;
}

/* line 50, ../../app/sass/topic.sass */
.comment-author {
  display: inline;
  float: right;
}
/* line 52, ../../app/sass/topic.sass */
.comment-author:hover {
  text-decoration: none;
}

/* line 55, ../../app/sass/topic.sass */
.author-avatar {
  display: inline;
  float: left;
  max-width: 15px;
  height: 15px;
  padding: 1px 4px 0 0;
}

/* line 61, ../../app/sass/topic.sass */
.author-name {
  display: inline;
  float: right;
  padding: 0 0 0 4px;
}

/* line 65, ../../app/sass/topic.sass */
#reply-area {
  padding: 30px 0 0;
}
