/* line 6, ../../app/sass/topics.sass */
.article-item {
  overflow: hidden;
  *zoom: 1;
  padding: 11px 0 11px 14px;
  position: relative;
  border-bottom: 1px dotted #aaaaaa;
}

/* line 12, ../../app/sass/topics.sass */
.item-title {
  padding: 0 35px 2px 0;
}

/* line 15, ../../app/sass/topics.sass */
.title-link:hover {
  text-decoration: none;
}

/* line 18, ../../app/sass/topics.sass */
.article-sub-nav-list {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #dddddd;
  padding: 3px 0 0;
  position: relative;
  margin: 0;
  list-style: none;
}

/* line 26, ../../app/sass/topics.sass */
.article-sub-nav-item {
  display: inline;
  float: left;
  padding: 0 2px 0 0;
}

/* line 30, ../../app/sass/topics.sass */
.article-sub-nav-link {
  display: block;
  border: 1px solid transparent;
  padding: 7px 11px;
  line-height: 14px;
}
/* line 35, ../../app/sass/topics.sass */
.article-sub-nav-link:hover {
  text-decoration: none;
  background: #dddddd;
}

/* line 39, ../../app/sass/topics.sass */
#new-post {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 44, ../../app/sass/topics.sass */
#article-sub-nav-selected {
  text-decoration: none;
  background: #dddddd;
}

/* line 48, ../../app/sass/topics.sass */
.comment-count {
  position: absolute;
  top: 15px;
  right: 0;
}

/* line 53, ../../app/sass/topics.sass */
.comment-count {
  background: #d1d6db;
  color: white;
  padding: 1px 4px 0;
  min-width: 20px;
  text-align: center;
}
/* line 59, ../../app/sass/topics.sass */
.comment-count:hover {
  color: #005580;
  text-decoration: none;
}

/* line 63, ../../app/sass/topics.sass */
.author-avatar {
  display: inline;
  float: left;
  max-width: 15px;
  height: 15px;
  padding: 1px 4px 0 0;
}

/* line 69, ../../app/sass/topics.sass */
.tags {
  display: inline;
  float: left;
}

/* line 72, ../../app/sass/topics.sass */
.user-data {
  display: inline;
  float: right;
}
