/* line 6, ../../app/sass/user.sass */
#profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 9, ../../app/sass/user.sass */
#user-profile-avatar {
  display: inline;
  float: left;
  padding: 6px 8px 0 0;
}

/* line 13, ../../app/sass/user.sass */
#name {
  color: #0088cc;
  font-size: 19px;
  padding: 0 0 7px;
}

/* line 18, ../../app/sass/user.sass */
#user-profile-avatar-img {
  display: block;
  width: 80px;
  height: 80px;
}

/* line 23, ../../app/sass/user.sass */
#meta {
  display: inline;
  float: left;
}

/* line 26, ../../app/sass/user.sass */
#posts {
  padding: 0 0 30px;
}

/* line 29, ../../app/sass/user.sass */
#posts-title {
  padding: 0 0 10px;
}

/* line 32, ../../app/sass/user.sass */
#replies {
  padding: 0 0 30px;
}

/* line 35, ../../app/sass/user.sass */
.article-item {
  overflow: hidden;
  *zoom: 1;
  padding: 8px 0 8px 14px;
  position: relative;
  border-bottom: 1px dotted #aaaaaa;
}

/* line 41, ../../app/sass/user.sass */
.block-title {
  padding: 0 0 10px;
  border-bottom: 1px dotted #aaaaaa;
}

/* line 45, ../../app/sass/user.sass */
.item-title {
  display: inline;
  float: left;
  padding: 0 0 2px;
  font-weight: normal;
  font-size: 16px;
}

/* line 51, ../../app/sass/user.sass */
.title-link:hover {
  text-decoration: none;
}

/* line 54, ../../app/sass/user.sass */
.comment-count {
  display: inline;
  float: right;
}

/* line 57, ../../app/sass/user.sass */
.comment-count {
  background: #d1d6db;
  color: white;
  padding: 1px 4px 0;
  margin: 5px 0 0;
  min-width: 20px;
  text-align: center;
}
/* line 64, ../../app/sass/user.sass */
.comment-count:hover {
  color: #005580;
  text-decoration: none;
}

/* line 68, ../../app/sass/user.sass */
#bio-notes {
  padding: 0 0 10px;
}

/* line 71, ../../app/sass/user.sass */
#textarea {
  width: 690px;
}

/* line 74, ../../app/sass/user.sass */
.reply-actions {
  text-align: right;
}

/* line 77, ../../app/sass/user.sass */
.more-link {
  display: inline;
  float: right;
  padding: 5px 0 0;
}
/* line 80, ../../app/sass/user.sass */
.more-link:hover {
  text-decoration: none;
}
