/* line 4, ../../app/sass/users.sass */
#users-wrap {
  padding: 10px 0 0;
}

/* line 7, ../../app/sass/users.sass */
.avatar {
  display: inline;
  float: left;
}

/* line 10, ../../app/sass/users.sass */
.avatar-user-warp {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 2px;
}

/* line 14, ../../app/sass/users.sass */
.user-wrap {
  height: 90px;
}

/* line 17, ../../app/sass/users.sass */
.user-profile-avatar {
  display: inline;
  float: left;
}

/* line 20, ../../app/sass/users.sass */
.user-profile-avatar-img {
  display: block;
  padding: 6px 8px 0 0;
  width: 72px;
}

/* line 25, ../../app/sass/users.sass */
.meta {
  display: inline;
  float: left;
}

/* line 28, ../../app/sass/users.sass */
.user-link {
  display: block;
}

/* line 31, ../../app/sass/users.sass */
.user-link:hover {
  text-decoration: none;
}

/* line 34, ../../app/sass/users.sass */
.user-name {
  font-size: 15px;
  color: #0088cc;
}

/* line 38, ../../app/sass/users.sass */
.email, .posts, .comments, .created {
  font-size: 12px;
}
