<div class="control-group">
  <div class="controls">
    <h3>Title</h3>
    <input type="text" name="topic[title]" value="<?= it.val( it.topic, 'title' ) ?>"/>
    <?= it.error()[ 'topic.title' ] ?
        it.show_err( it.error()[ 'topic.title' ]) :
        '' ?>
  </div>
  <div class="controls">
    <h3>Content</h3>
    <textarea class="input-xlarge" id="textarea" name="topic[content]" rows="10"><?= it.val( it.topic, 'content' ) ?></textarea>
    <?= it.error()[ 'topic.content' ] ?
        it.show_err( it.error()[ 'topic.content' ]) :
        '' ?>
  </div>
</div>
<label for="topic[tag_names]">Tags</label>
<input type="text" class="span3" name="topic[tag_names]" value="<?= it.val( it.topic, 'tag_names' ) ?>" placeholder="Type in tags...">
<span class="help-inline">Separate tags with comma</span>
<input type="hidden" name="_csrf" value="<?= it.csrf ?>" />