<? it.title = 'Coke - Latest'; ?>
<? it.styles.push( 'topics' ); ?>

<div class="span9">
  <?= it.partial( 'common/_breadcrumb' ) ?>
  <?= it.partial( 'common/_nav' ) ?>
  <div class="tab-content">
    <div class="tab-pane active" id="items-wrap">

      <? it.topics.forEach( function ( topic ){  ?>

      <div class="article-item">
        <h3 class="item-title"><a class="title-link" href="/topics/<?= topic._id ?>"><?- it.truncate( topic.title, 40 ) ?></a></h3>
        <p class="item-content"><?- it.truncate( topic.content, 65 ) ?></p>
        <? topic.tag_names.forEach( function( tag ){ ?>
          <a href="/topics/tag?name=<?- tag ?>" class="tag"><?- tag ?></a>
        <? }); ?>
        <a href="/users/<?- topic.as_user._id ?>" class="author"><?- topic.as_user.name ?></a>
        <span class="last-reply-time"><?- it.from_now( topic.updated_at ) ?></span>
        <a class="comment-count" href="/topics/<?= topic._id ?>#comment"><?- topic.comments.length ?></a>
      </div> <!-- .article-item -->

      <? }); ?>

      <?= it.partial( 'common/_pagination' )?>
    </div>
  </div>
</div> <!-- .span9 -->

<?= it.partial( 'common/_side' ) ?>