<? it.title = it.page_title( it ) + ' - COKE' ?>
<? it.styles.push( 'topics' ) ?>

<div class="span9">
  <?= it.partial( '/common/_nav' ) ?>
  <?= it.partial( '/common/_sub_nav' ) ?>

  <div class="tab-content">
    <div class="tab-pane active" id="items-wrap">

      <?= it.no_record( it.topics.length, '<h3 class="no-record-index">No posts</h3>' ) ?>

      <? it.topics.forEach( function ( topic ){ ?>

      <div class="article-item">
        <h3 class="item-title">
          <a class="title-link" href="/topics/<?= topic._id ?>">
            <?- it.truncate( topic.title, 40 ) ?>
          </a>
        </h3>
        <p class="item-content"><?- it.truncate( topic.content, 65 ) ?></p>
        <div class="tags">
          <? topic.tag_names.forEach( function ( tag ){ ?>
            <a href="/tags/<?- tag ?>/topics" class="tag"><?- tag ?></a>
          <? }) ?>
        </div>
        <div class="user-data">
          <a href="/users/<?- topic.user._id ?>" class="author">
            <?- topic.user.name ?>
          </a>
          <a href="/users/<?- topic.user._id ?>" class="author">
            <img class="author-avatar" src="<?- topic.user.avatar ?>">
          </a>
          <span class="last-reply-time">
            <?- it.ago( topic.updated_at ) ?>
          </span>
        </div>
        <a class="comment-count" href="/topics/<?= topic._id ?>#comment">
          <?- topic.comments.length ?>
        </a>
      </div> <!-- .article-item -->

      <? }) ?>

      <?= it.partial( '/common/_pagination' ) ?>
    </div>
  </div>
</div> <!-- .span9 -->

<?= it.partial( '/common/_sidebar' ) ?>
