<? it.title = 'Showing topic'; ?>
<? it.styles.push( 'article' ); ?>

<div class="span9">
  <?= it.partial( 'common/_nav' ) ?>
  <?= it.show_info( it.success_info()) ?>

  <div id="article-wrap">

    <? if( it.sess_user ){ ?>
    <a class="reply btn btn-primary" href="#reply-area">Reply</a>
    <? } ?>

    <? if( it.topic.is_owner( it.sess_user )){ ?>
    <a class="edit btn btn-info" href="/topics/<?= it.topic._id ?>/edit">Edit</a>

    <form class="delete" action="/topics/<?= it.topic._id ?>" method="POST" accept-charset="UTF-8" >
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <input class="btn btn-danger" type="submit" value="Delete" />
    </form>
    <? }; ?>

    <h2 id="article-title" ><?- it.topic.title ?></h2>
    <p class="content-p"></p>

    <?= it.markdown( it.topic.content ) ?>

    <div class="meta-wrap">
      <a href="/users/<?= it.topic.as_user._id ;?>" id="article-author"><img class="article-avatar" src="<?- it.topic.as_user.avatar ?>"><?- it.topic.as_user.name ?></a>
      <span class="last-reply-time"><?= it.from_now( it.topic.updated_at ) ?></span>

      <? it.topic.tag_names.forEach( function( tag ){ ?>
      <a href="/topics/tag?name=<?- tag ?>" class="tag"><?- tag ?></a>
      <? }); ?>

    </div>
  </div> <!-- #article-wrap -->
  <div id="comment">

    <? it.topic.comments.forEach( function ( comment ){ ?>
    <div class="comment-wrap">

      <?= it.markdown( comment.content ) ?>

      <div class="meta-wrap">
        <a href="/users/<?= comment.as_user._id ;?>" class="comment-author"><img class="article-avatar" src="<?- comment.as_user.avatar ?>"><?= comment.as_user.name ?></a>
        <span class="last-reply-time"><?= it.from_now( comment.updated_at ) ?></span>

        <? if( it.sess_user ){ ?>
        <a class="comment-reply btn btn-primary" href="#reply-area" class="btn btn-primary">Reply</a>
        <? } ?>

        <? if( comment.is_owner( it.sess_user )){ ?>
        <form class="comment-delete" action="/topics/<?= it.topic._id ?>/comments/<?= comment._id ?>" method="POST" accept-charset="UTF-8" >
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <? }; ?>

      </div>
    </div> <!-- .comment-wrap -->
    <? }); ?>

  </div><!-- #comment -->

  <?= it.partial( 'common/_pagination' )?>

  <? if( it.sess_user ){ ?>
  <form id="reply-area" action="/topics/<?= it.topic._id ?>/comments" method="POST" accept-charset="UTF-8" >
    <fieldset>
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <legend>Reply</legend>
      <div class="control-group">
        <div class="controls">
          <textarea class="input-xlarge" id="textarea" name="comment[content]" rows="10"><?= it.val( it.comment, 'content' ) ?></textarea>
          <?= it.error()[ 'comment.content' ] ?
              it.show_err( it.error()[ 'comment.content' ]) :
              '' ?>
        </div>
      </div>
      <?= it.partial( 'common/_form_actions' ) ?>
    </fieldset>
  </form>
  <? } ?>
</div> <!-- .span9 -->
<?= it.partial( 'common/_side' )  ?>