<hr />

<? it.title = 'Showing topic'; ?>

<div class="topic-content">
  <div>Topic Author:
    <a href="/users/<?= it.topic.as_user._id ;?>">
      <?= it.topic.as_user.name ?>
    </a>
 </div>
  <div>Avatar: <img src="<?= it.topic.as_user.avatar_link ?>" /></div>
  <div>Tags: <?= it.topic.tag_names.join(', ') ?></div>
  <div>Title: <?= it.topic.title ?></div>
  <div>Content: <?= it.topic.content ?></div>
  <div>Modified: <?= new Date( it.topic.updated_at ) ?></div>

  <? if( it.topic.is_owner( it.sess_user )){ ?>
    <a href="/topics/<?= it.topic._id ?>/edit">Edit the topic</a>

    <form action="/topics/<?= it.topic._id ?>" method="POST" accept-charset="UTF-8" >
      <input type="hidden" name="_method" value="delete" />
      <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
      <input class="submit-link" type="submit" value="Delete the topic" />
    </form>
  <? }; ?>

  <hr />
  <div class="topic-comments">
    <? it.topic.comments.forEach( function ( comment ){ ?>
      <div>
        Commentor:
        <a href="/users/<?= comment.as_user._id ;?>">
          <?= comment.as_user.name ?>
        </a>
      </div>
      <div>Avatar: <img src="<?= comment.as_user.avatar_link ?>" /></div>
      <div>Content: <?= comment.content ?></div>
      <div>Modified: <?= new Date( comment.updated_at ) ?></div>

      <? if( comment.is_owner( it.sess_user )){ ?>
        <form action="/topics/<?= it.topic._id ?>/delete-comment" method="POST" accept-charset="UTF-8" >
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <input type="hidden" name="comment_id" value="<?= comment._id ?>">
          <input class="submit-link" type="submit" value="Delete the comment" />
        </form>
      <? }; ?>

      <hr />
    <? }); ?>
  </div>

  <? if( it.sess_user ){ ?>
    <div class="new-comment">
      <h2> New comment </h2>
      <form action="/topics/<?= it.topic._id ?>/create-comment" method="POST" accept-charset="UTF-8" >
        <div id="table">
          <input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
          <div class="form-row">
            <label class="form-title" for="comment[content]">Content : </label><br />
            <textarea class="text-input" name="comment[content]" rows="10" cols="50"><?= it.val( it.comment, 'content' ) ?></textarea>
          </div>
        </div>
        <input class="submit-link" type="submit" value="Create comment" />
      </form>
    </div>
  <? } ?>
</div>