@import "compass"
@import "common/lib"

$footer-font: Georgia

footer
  color: #999
  font-size: 14px
  font-family: $footer-font
  text-align: center
  padding: 30px 0 50px
  letter-spacing: 1px

#sublogo
  @include bg_text( 54px, 25px, "logo-s")
  +inline-block
  text-decoration: none
  margin: -4px 4px 0 0

#dreamerslab
  +inline-block
  text-decoration: none
  background: url("/img/dreamerslab.png") no-repeat top left
  padding: 0 0 3px 16px
  color: #333
  text-decoration: underline
  font-weight: bold