<? it.title = 'Notifications - COKE'; ?>
<? it.styles.push( 'notifications' ); ?>

<div class="span9">
  <?= it.partial( 'common/_nav' ) ?>

  <div class="notify-item-wrap">

  <? var exist_unread = 0; ?>
  <? it.notifs.forEach( function ( notif ){  ?>
    <? exist_unread += 1; ?>
    <div class="notify-item <?= notif.is_read ? '' : 'unread' ?>">
      <!-- <a class="close">&times;</a> -->
      <p>
        <a href="/users/<?= notif.originator._id ?>" class="author" ><?- it.truncate( notif.originator.name ) ?></a>
        <?= notif.activity ?>
        <a href="/topics/<?= notif.topic._id ?>?nid=<?= notif._id ?>" class="article-link"><?- it.truncate( notif.topic.title, 30 ) ?></a>
        <span class="last-reply-time"><?= it.ago( notif.updated_at ) ?></span>
      </p>
      <a href="#" class="notify-user-avatar"><img class="profile-avatar-photo" src="<?= notif.originator.avatar ?>" alt="Avatar"></a>
      <p class="notify-comment"><?- it.truncate( notif.content, 90 ) ?></p>
    </div> <!-- .article-item -->
  <? }); ?>
  <?= exist_unread ? '' : '<h2>You have no notifications.</h2>' ?>

  </div>

  <?= it.partial( 'common/_pagination' ) ?>
</div> <!-- .span9 -->

<?= it.partial( 'common/_side' ) ?>