<? it.title = 'COKE - Notifications'; ?>
<? it.styles.push( 'notifications' ); ?>




<div class="span9">
  <?= it.partial( 'common/_breadcrumb' ) ?>
  <? it.notifs.forEach( function ( notif ){  ?>
  <div class="notify-item">
    <a class="close">&times;</a>
    <p>
      <a href="/users/<?= notif.originator._id ?>" class="author" ><?- notif.originator.name ?></a>
      <?= notif.activity ?>
      <a href="/topics/<?= notif.topic._id ?>?nid=<?= notif._id ?>" class="article-link"><?- notif.topic.title ?></a>
      <span class="last-reply-time"><?= it.from_now( notif.updated_at ) ?></span>
    </p>
    <a href="#" class="notify-user-avatar"><img class="profile-avatar-photo" src="<?= notif.originator.avatar ?>" alt="Avatar"></a>
    <p class="notify-comment"><%= lorem.name %>'s comment...</p>

    <? console.log( notif.originator ); ?>
    <? console.log( notif ); ?>

  </div> <!-- .article-item -->
  <? }); ?>
  <?= it.partial( 'common/_pagination' ) ?>
</div> <!-- .span9 -->

<?= it.partial( 'common/_side' ) ?>