<div id="posts">
  <h2 class="block-title">Recent Posts</h2>

  <? it.user.recent_topics.forEach( function ( topic ){ ?>
  <div class="article-item">
    <h3 class="item-title">
      <a class="title-link" href="/topics/<?= topic._id ?>"><?- it.truncate( topic.title, 40 ) ?></a>
    </h3>
    <a class="comment-count" href="/topics/<?= topic._id ?>#comment"><?- topic.comments.length ?></a>
  </div> <!-- .article-item -->
  <? }); ?>

  <? if( it.user.topics.length > it.user.recent_topics.length ){ ?>
  <a class="more-link" href="/users/<?= it.user._id ?>/topics">more &#187</a>
  <? } ?>
</div> <!-- #posts -->