<? it.title = 'Listing users'; ?>


<table>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Avatar
      </th>
      <th>
        TopicCount
      </th>
      <th>
        CommentCount
      </th>
      <th>
        Rating
      </th>
    </tr>
  </thead>
  <tbody>
    <? it.users.forEach( function ( user ){  ?>

      <tr>
        <td>
          <?= user._id ?>
        </td>
        <td>
          <?- user.name ?>
        </td>
        <td>
          <?- user.email ?>
        </td>
        <td>
          <img src="<?= user.avatar_link() ?>" />
        </td>
        <td>
          <?= user.topics.length ?>
        </td>
        <td>
          <?= user.comments.length ?>
        </td>
        <td>
          <?= user.rating ?>
        </td>
      </tr>

    <? }); ?>
  </tbody>
</table>

<?= it.partial( 'common/_pagination' )?>