<? it.title = it.user.name + '\'s Profile - COKE'; ?>
<? it.styles.push( 'user' ); ?>

<div class="span9">
  <?= it.partial( 'common/_nav' ) ?>
  <div class="well" id="profile">
    <div id="avatar-frame"><img id="avatar-img" src="<?= it.user.avatar ?>" alt="Avatar"></div>
    <div id="meta">
      <h3 id="name"><?= it.user.name ?></h3>
      <h4>Posts: <?= it.user.topics.length ?></h4>
      <h4>Comments: <?= it.user.comments.length ?></h4>
      <h4>Created at: <?= it.ago( it.user.created_at ) ?></h4>
    </div>
  </div>
  <?= it.partial( 'users/_recent_posts' ) ?>
  <?= it.partial( 'users/_recent_replies' )?>
</div>
<?= it.partial( 'common/_sidebar' ) ?>