/* line 7, ../../../app/sass/common/base.sass */
a:focus, input:focus, textarea:focus, button:focus {
  outline: none;
}

/* line 10, ../../../app/sass/common/base.sass */
.no-record-index {
  padding: 11px 0 0 14px;
}

/* line 13, ../../../app/sass/common/base.sass */
.no-record-tags, .no-record-users {
  padding: 0 0 0 20px;
}

/* line 16, ../../../app/sass/common/base.sass */
.no-record-side {
  padding: 0 0 0 10px;
}

/* line 19, ../../../app/sass/common/base.sass */
.article-nav-list {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 21px;
  margin: 0;
}

/* line 24, ../../../app/sass/common/base.sass */
.article-nav-item {
  display: inline;
  float: left;
  padding: 0 10px 0 0;
}

/* line 28, ../../../app/sass/common/base.sass */
.article-nav-link {
  display: block;
  background: #eeeeee;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 37, ../../../app/sass/common/base.sass */
.article-nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 42, ../../../app/sass/common/base.sass */
#article-nav-selected {
  background: black;
  color: white;
}

/* line 46, ../../../app/sass/common/base.sass */
.info-wrap {
  overflow: hidden;
  *zoom: 1;
  padding: 0 0 10px;
}

/* line 50, ../../../app/sass/common/base.sass */
.info {
  display: inline;
  float: left;
  display: block;
  color: #00990d;
  font-size: 20px;
  font-family: Kefa, Merriweather, serif;
  padding: 0 0 4px;
  font-weight: bold;
}

/* line 59, ../../../app/sass/common/base.sass */
#content-wrap {
  padding: 40px 0;
}

/* line 62, ../../../app/sass/common/base.sass */
#search-input {
  width: 122px;
}

/* line 65, ../../../app/sass/common/base.sass */
#search {
  display: inline;
  float: right;
  padding: 3px 0 0;
}

/* line 69, ../../../app/sass/common/base.sass */
#new-post {
  display: inline;
  float: right;
}

/* line 72, ../../../app/sass/common/base.sass */
#current-profile-link {
  display: block;
  width: 135px;
  line-height: 17px;
}
/* line 76, ../../../app/sass/common/base.sass */
#current-profile-link:hover {
  text-decoration: none;
}

/* line 79, ../../../app/sass/common/base.sass */
#current-user:hover {
  text-decoration: none;
}

/* line 82, ../../../app/sass/common/base.sass */
#notify {
  text-align: left;
  width: 135px;
  position: absolute;
  bottom: -6px;
  left: 0;
}

/* line 89, ../../../app/sass/common/base.sass */
#notify-link:hover {
  text-decoration: none;
}

/* line 92, ../../../app/sass/common/base.sass */
#current-user-wrap {
  display: inline;
  float: left;
}

/* line 95, ../../../app/sass/common/base.sass */
#profile-avatar {
  display: inline;
  float: left;
}

/* line 98, ../../../app/sass/common/base.sass */
#user-notify-wrap {
  display: inline;
  float: left;
  height: 50px;
  position: relative;
}

/* line 103, ../../../app/sass/common/base.sass */
#log-btn, #log-out {
  display: inline;
  float: right;
  position: relative;
}

/* line 107, ../../../app/sass/common/base.sass */
#log-btn {
  top: -6px;
  margin: 0 0 0 3px;
}

/* line 111, ../../../app/sass/common/base.sass */
#log-out {
  top: -2px;
}

/* line 114, ../../../app/sass/common/base.sass */
.side-profile {
  overflow: hidden;
  *zoom: 1;
}

/* line 117, ../../../app/sass/common/base.sass */
#profile-avatar-photo {
  display: block;
  padding: 0 5px 0 0;
  max-width: 50px;
  height: 50px;
}

/* line 123, ../../../app/sass/common/base.sass */
.avatar {
  padding: 0 5px 0 0;
  width: 15px;
}

/* line 127, ../../../app/sass/common/base.sass */
.tag {
  display: inline;
  float: left;
  height: 20px;
  background: #e2eaf0;
  padding: 1px 5px 0;
  margin: 0 7px 0 0;
}
/* line 133, ../../../app/sass/common/base.sass */
.tag:hover {
  background: #4a6d8c;
  color: #e2eaf0;
  text-decoration: none;
}

/* line 138, ../../../app/sass/common/base.sass */
.last-reply-time {
  display: inline;
  float: right;
  color: #999999;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: -1px 0 0;
}

/* line 145, ../../../app/sass/common/base.sass */
.sidebar-block {
  margin: 0 0 10px;
}

/* line 148, ../../../app/sass/common/base.sass */
.sidebar-title {
  padding: 0 0 13px;
}

/* line 151, ../../../app/sass/common/base.sass */
.sidebar-content {
  overflow: hidden;
  *zoom: 1;
}

/* line 154, ../../../app/sass/common/base.sass */
.all-tag-item {
  margin-bottom: 5px;
}

/* line 157, ../../../app/sass/common/base.sass */
.sidebar-link {
  display: inline;
  float: right;
}
/* line 159, ../../../app/sass/common/base.sass */
.sidebar-link:hover {
  text-decoration: none;
}

/* line 162, ../../../app/sass/common/base.sass */
.sidebar-link-p {
  overflow: hidden;
  *zoom: 1;
}

/* line 165, ../../../app/sass/common/base.sass */
.issue-title-link {
  display: block;
  padding: 4px 0 0;
}
/* line 168, ../../../app/sass/common/base.sass */
.issue-title-link:hover {
  text-decoration: none;
}

/* line 171, ../../../app/sass/common/base.sass */
.user {
  display: block;
  padding: 0 0 4px;
}
/* line 174, ../../../app/sass/common/base.sass */
.user:hover {
  text-decoration: none;
}

/* line 177, ../../../app/sass/common/base.sass */
.author {
  display: inline;
  float: right;
}
/* line 179, ../../../app/sass/common/base.sass */
.author:hover {
  text-decoration: none;
}

/* line 182, ../../../app/sass/common/base.sass */
.article-pager {
  text-align: center;
}

/* line 185, ../../../app/sass/common/base.sass */
.error {
  color: red;
}

/* line 188, ../../../app/sass/common/base.sass */
.hidden {
  display: none;
}

/* line 191, ../../../app/sass/common/base.sass */
#title-404, #title-500 {
  text-align: center;
  padding: 40px 0 0;
}

/* line 195, ../../../app/sass/common/base.sass */
#title-404 {
  font-size: 30px;
}

/* line 198, ../../../app/sass/common/base.sass */
#title-500 {
  font-size: 25px;
}

/* line 204, ../../../app/sass/common/base.sass */
.article-nav-link {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 208, ../../../app/sass/common/base.sass */
.info {
  font-size: 16px \9;
  padding: 7px \9 8px\9 5px\9 8px\9;
}

/* line 212, ../../../app/sass/common/base.sass */
#search-input {
  width: 143px \9;
}
