/* line 6, ../../../app/sass/common/footer.sass */
footer {
  color: #999999;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 30px 0 50px;
  letter-spacing: 1px;
  width: 386px;
  margin: 0 auto;
}

/* line 16, ../../../app/sass/common/footer.sass */
.footer-text {
  display: inline;
  float: left;
  padding: 0 5px 0 0;
}

/* line 20, ../../../app/sass/common/footer.sass */
#sublogo {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  line-height: 0;
  width: 54px;
  height: 25px;
  background: url('/img/sprite-s7f7228bc18.png') no-repeat 0 0;
  display: inline;
  float: left;
  text-decoration: none;
  margin: -5px 5px 0 0;
}

/* line 26, ../../../app/sass/common/footer.sass */
#dreamerslab {
  display: inline;
  float: left;
  text-decoration: none;
  background: url("/img/dreamerslab.png") no-repeat top left;
  padding: 0 0 3px 16px;
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}

/* line 38, ../../../app/sass/common/footer.sass */
#sublogo {
  margin: -3px \9 5px\9 0 0;
}
