/*
Syntax error: Undefined mixin 'bg_text'.
        on line 12 of /srv/www/forum.coke/app/sass/common/footer.sass, in `bg_text'
        from line 12 of /srv/www/forum.coke/app/sass/common/footer.sass

Backtrace:
/srv/www/forum.coke/app/sass/common/footer.sass:12:in `bg_text'
/srv/www/forum.coke/app/sass/common/footer.sass:12
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:135:in `block in compile'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/logger.rb:45:in `red'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:134:in `compile'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:114:in `compile_if_required'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `each'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:97:in `block in run'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:122:in `timed'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/compiler.rb:96:in `run'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/base.rb:18:in `execute'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/commands/project_base.rb:19:in `execute'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:25:in `block in <top (required)>'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:39:in `call'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/bin/compass:39:in `<top (required)>'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `load'
/Users/fred/.rvm/gems/ruby-1.9.2-p290/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bg_text'.\A         on line 12 of /srv/www/forum.coke/app/sass/common/footer.sass, in `bg_text'\A         from line 12 of /srv/www/forum.coke/app/sass/common/footer.sass"; }
