/* line 6, ../../../app/sass/common/footer.sass */
footer {
  color: #999999;
  font-size: 14px;
  font-family: Georgia;
  text-align: center;
  padding: 30px 0 50px;
  letter-spacing: 1px;
}

/* line 14, ../../../app/sass/common/footer.sass */
#sublogo {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  line-height: 0;
  width: 54px;
  height: 25px;
  background: url('/img/sprite-s7f7228bc18.png') no-repeat 0 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-decoration: none;
  margin: -4px 4px 0 0;
}
/* line 7, ../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#sublogo {
  *display: inline;
}

/* line 20, ../../../app/sass/common/footer.sass */
#dreamerslab {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-decoration: none;
  background: url("/img/dreamerslab.png") no-repeat top left;
  padding: 0 0 3px 16px;
  color: #333333;
  text-decoration: underline;
  font-weight: bold;
}
/* line 7, ../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#dreamerslab {
  *display: inline;
}
