/* line 7, ../../../app/sass/common/header.sass */
#logo {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  overflow: hidden;
  line-height: 0;
  width: 200px;
  height: 120px;
  background: url('/img/sprite-s7f7228bc18.png') no-repeat 0 -25px;
  display: block;
}

/* line 11, ../../../app/sass/common/header.sass */
#header {
  overflow: hidden;
  *zoom: 1;
  width: 940px;
  margin: 0 auto;
  padding: 15px 0 4px;
}

/* line 16, ../../../app/sass/common/header.sass */
header {
  display: inline;
  float: left;
}

/* line 19, ../../../app/sass/common/header.sass */
nav {
  display: inline;
  float: right;
  padding: 89px 0 0;
}

/* line 23, ../../../app/sass/common/header.sass */
.nav-item {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 0 0 6px;
}
/* line 7, ../../../../../../Users/fred/.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.nav-item {
  *display: inline;
}

/* line 27, ../../../app/sass/common/header.sass */
.nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Kefa, Merriweather, serif;
  padding: 5px 8px;
  font-weight: bold;
}
/* line 35, ../../../app/sass/common/header.sass */
.nav-link:hover {
  background: black;
  color: white;
  text-decoration: none;
}

/* line 40, ../../../app/sass/common/header.sass */
#nav-selected {
  background: black;
  color: white;
}
