@import "common"

#users-wrap
  padding: 10px 0 0

.avatar
  +float-left

.avatar-user-warp
  +clearfix
  padding: 0 0 2px

.user-wrap
  height: 115px

.user-profile-avatar
  +float-left

.user-profile-avatar-img
  display: block
  padding: 6px 8px 0 0

.meta
  +float-left

.user-link
  display: block

.user-link:hover
  text-decoration: none

.user-name
  font-size: 15px
  color: #08c

.email, .posts, .comments, .created
  font-size: 12px