<input type="hidden" name="_csrf" value="<?= it.csrf ?>" />
<div class="form-row">
  <label class="form-title" for="post[title]">Title : </label>
  <input class="text-input" type="text" name="post[title]" value="<?= it.val( it.post, 'title' ) ?>"/>
</div>
<div class="form-row">
  <label class="form-title" for="post[content]">Content : </label>
  <input class="text-input" type="text" name="post[content]" value="<?= it.val( it.post, 'content' ) ?>"/>
</div>
<div class="form-row">
  <label class="form-title" for="post[tag_names]">Tag : </label>
  <input class="text-input" type="textarea" name="post[tag_names]" value="<?= it.val( it.post, 'tag_names' ) ?>"/>
</div>
