<? it.styles.push( 'scaffold' ); ?>
<? it.title = 'Post detail'; ?>
<? it.nav_selected = 'posts'; ?>

<div id="table">
  <div class="form-row">
    <label class="form-title" >ID : </label>
    <label ><?= it.post._id ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >UserId : </label>
    <label ><?= it.post.user_id ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >UserName : </label>
    <label ><?= it.post.user_name ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >UserAvatar : </label>
    <label ><?= it.post.user_avatar ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Title : </label>
    <label ><?= it.post.title ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Content : </label>
    <label ><?= it.post.content ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Tag : </label>
    <label ><?= it.post.tags ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Subscriber : </label>
    <label ><?= it.post.subscribers ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >ReadCount : </label>
    <label ><?= it.post.read_count ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >CommentCount : </label>
    <label ><?= it.post.comment_count ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Created at : </label>
    <label ><?= it.post.created_at ?></label>
  </div>
  <div class="form-row">
    <label class="form-title" >Updated at : </label>
    <label ><?= it.post.updated_at ?></label>
  </div>
</div>
<a href="/posts/<?= it.post._id ?>/edit">Edit</a> |
<a href="/posts">Back</a>