<? it.title = 'Showing post'; ?>

<div class="post-content">
  <div>Post Author:
    <a href="/users/<?= it.post.as_user._id ;?>">
      <?= it.post.as_user.name ?>
    </a>
 </div>
  <div>Avatar: <?= it.post.as_user.avatar ?></div>
  <div>Tags: <?= it.post.tag_names.join(', ') ?></div>
  <div>Title: <?= it.post.title ?></div>
  <div>Content: <?= it.post.content ?></div>
  <div>Modified: <?= new Date( it.post.updated_at ) ?></div>
  <hr />
  <div class="post-comments">
    <? it.post.comments.forEach( function ( comment ){ ?>
      <div>
        Commentor:
        <a href="/users/<?= comment.as_user._id ;?>">
          <?= comment.as_user.name ?>
        </a>
      </div>
      <div>Avatar: <?= comment.as_user.avatar ?></div>
      <div>Content: <?= comment.content ?></div>
      <div>Modified: <?= new Date( comment.updated_at ) ?></div>
      <hr />
    <? }); ?>
  </div>
</div>

<a href="/posts/<?= it.post._id ?>/edit">Edit</a> |
<a href="/posts">Back</a>