<table class="sidebar">
  <tr>
    <td>
      <div class="search">
        <form action="/topics/search" method="GET" accept-charset="UTF-8" >
          <div id="table">
            <div class="form-row">
              <label class="form-title" for="keywords">Keywords : </label>
              <input class="text-input" type="text" name="keywords" value="<?= it.exists( it.keywords ) ?>"/>
              <input class="submit-link" type="submit" value="Search Topic" />
            </div>
          </div>
        </form>
      </div>
    </td>
    <td>
      <? if( !it.sess_user ){ ?>

      <a href="/auth/google">
        Log In with google
      </a>

      <? }else{ ?>

      <a href="/notifications">Notifications</a> |
      <a href="/logout">
        Log Out
      </a>

      <? } ?>
    </td>
    <td class="tags" width="30%">
      <b>Hot tags:</b>
      <? it.sidebar.tags.forEach( function ( tag ){ ?>
        <a href="/topics/tag?name=<?= tag.name ?>"><?- tag.name ?></a>
        (<?= tag.topic_count ?>)
      <? }); ?>
      <a href="/topics/tags">... more tags</a>
    </td>
    <td class="users" width="30%">
      <b>Active users:</b>
      <ol>
        <? it.sidebar.users.forEach( function ( user ){ ?>
          <li>
            <a href="/users/<?= user._id ?>"><?- user.name ?></a>
          </li>
        <? }); ?>
        <a href="/users">... more users</a>
      </ol>
    </td>
    <td class="issues" width="40%">
      <b>Open issues:</b>
      <ol>
        <? it.sidebar.issues.forEach( function ( issue ){ ?>
          <li>
            <a href="<?= issue.link ?>"><?- issue.title ?></a>
          </li>
        <? }); ?>
        <a href="https://github.com/dreamerslab/coke/issues">... more issues</a>
      </ol>
    </td>
  </tr>
</table>