<? if( it.count > it.limit ){ ?>
<? var p = it.pager( it.from, it.count, it.limit ) ?>
<div class="pagination article-pager">
  <ul>
    <li class="<?= p.pre ?>">
      <? var pre_href = p.pre == 'active' ? '' : 'href="' + it.path + it.query + '&from=' + p.pre_from + '"' ?>
      <a <?= pre_href ?>>
        &lt
      </a>
    </li>
    <li>
      <a class="<?= p.first ?>" href="<?= it.path ?><?= it.query ?>&from=0">
       1
      </a>
    </li>
    <li>
      <a class="<?= p.start_spacer ?>"> ... </a>
    </li>
    <? for( var i = p.start, j = p.end; i < j; i++ ){ ?>

      <? if( p.page == i ){
        var active = 'active';
        var _href  = '';
      }else{
        var active = '';
        var _href  = 'href="' + it.path + it.query + '&from=' + p.each_from + '"';
      }?>

      <li class="<?= active ?>">
        <a <?= _href ?>>
          <?= i ?>
          <? p.each_from += it.limit?>
        </a>
      </li>
    <? } ?>
    <li>
      <a class="<?= p.end_spacer ?>"> ... </a>
    </li>
    <li>
      <a class="<?= p.last ?>" href="<?= it.path ?><?= it.query ?>&from=<?= p.end_from ?>">
        <?= p.total ?>
      </a>
    </li>
    <li>
      <a class="<?= p.next ?>" href="<?= it.path ?><?= it.query ?>&from=<?= p.next_from ?>">
        &gt
      </a>
    </li>
  </ul>
</div>
<? } ?>
