<div class="sidebar">
  <div class="tags">
    <b>Hot tags:</b>
    <? it.sidebar.tags.forEach( function ( tag ){ ?>
      <a href="/posts/tag?name=<?= tag.name ?>"><?= tag.name ?></a>
      (<?= tag.post_count ?>)
    <? }); ?>
    <a href="/posts/tags">... more tags</a>
  </div>
  <div class="users">
    <b>Active users:</b>
    <ol>
      <? it.sidebar.users.forEach( function ( user ){ ?>
        <li>
          <a href="/users/<?= user._id ?>"><?= user.name ?></a>
        </li>
      <? }); ?>
      <a href="/users">... more users</a>
    </ol>
  </div>
  <div class="issues">
    <b>Open issues:</b>
    <ol>
      <? it.sidebar.issues.forEach( function ( issue ){ ?>
        <li>
          <a href="<?= issue.link ?>"><?= issue.title ?></a>
        </li>
      <? }); ?>
      <a href="https://github.com/dreamerslab/coke/issues">... more issues</a>
    </ol>
  </div>
</div>