<div class="thumbnail sidebar-block">
  <div class="caption">
    <h4 class="sidebar-title">Active Users</h4>
    <p class="sidebar-content">

      <?= it.no_record( it.sidebar.users.length, '<span class="no-record-side">No users</span>' ) ?>

      <? it.each( it.sidebar.users, 6, function ( user ){ ?>
      <a href="/users/<?= user._id ?>" class="user"><img class="avatar" src="<?= user.avatar ?>" alt="Avatar"><?- it.truncate( user.name, 20 ) ?></a>
      <? }) ?>

    </p>
    <p class="sidebar-link-p">
      <?= it.more( it.sidebar.tags.length, 6, '<a href="/users" class="sidebar-link">All Users &#187;</a>' ) ?>
    </p>
  </div>
</div> <!-- .thumbnail -->
