<div class="thumbnail sidebar-block">
  <div class="caption side-profile">
    <div id="current-user-wrap">

      <? if( !it.sess_user ){ ?>
      <div id="profile-avatar"><img id="profile-avatar-photo" src="http://www.gravatar.com/avatar/00000000000000000000000000000000" alt="Avatar"></div>
      <div id="user-notify-wrap">

        <a id="current-profile-link" href="/auth/google" id="current-user">Guest</a>

        <div id="notify">
          <a href="/auth/google" class="btn btn-primary btn-mini log-btn">Log in with Google</a>
        </div>
      </div>
      <? }else{ ?>
      <div id="profile-avatar"><img id="profile-avatar-photo" src="<?- it.sess_user.picture || 'http://www.gravatar.com/avatar/00000000000000000000000000000000' ?>" alt="Avatar"></div>
      <div id="user-notify-wrap">
        <a id="current-profile-link" href="/users/<?= it.sess_user._id ?>" id="current-user"><?- it.sess_user.name ?></a>
        <div id="notify">
          <i id="profile-comment" class="icon-exclamation-sign"></i>
          <a id="notify-link" href="/notifications"><?= it.sess_user.unread_notifs ?></a>
          <a href="/logout" id="log-out" class="btn btn-inverse btn-mini">Log out</a>
        </div>
      </div>
      <? } ?>

    </div>
  </div>
</div> <!-- .thumbnail -->