<div class="thumbnail sidebar-block">
  <div class="caption">
    <h4 class="sidebar-title">Issues</h4>

    <? it.each( it.sidebar.issues, 5, function ( issue ){ ?>
    <h4><a href="<?= issue.link ?>" class="issue-title-link" target="_blank"><?- it.truncate( issue.title ) ?></a></h4>
    <p><?- it.truncate( issue.content ) ?></p>
    <? }); ?>

    <p class="sidebar-link-p">
      <?= it.show_more( it.sidebar.issues.length, 5, '<a href="https://github.com/dreamerslab/coke/issues" class="sidebar-link" target="_blank">All Issues &#187;</a>' ) ?>
    </p>
  </div>
</div> <!-- .thumbnail -->