<div class="thumbnail sidebar-block">
  <div class="caption">
    <h4 class="sidebar-title">Hot Tags</h4>
    <p class="sidebar-content">

      <?= it.no_record( it.sidebar.tags.length, '<span class="no-record-side">No tags</span>' ) ?>

      <? it.each( it.sidebar.tags, 20, function ( tag ){ ?>
      <a href="/topics/tag?name=<?= tag.name ?>" class="all-tag-item tag"><?- tag.name ?></a>
      <? }); ?>

    </p>
    <p class="sidebar-link-p">
      <?= it.more( it.sidebar.tags.length, 20, '<a href="/topics/tags" class="sidebar-link">All Tags &#187;</a>' ) ?>
    </p>
  </div>
</div> <!-- .thumbnail -->