<? it.sub_nav( it, function ( keyword, selected ){ ?>

<?= it.show_title( keyword, selected )?>

<? }, function ( new_btn ){ ?>
<ul class="article-sub-nav-list">
  <li class="article-sub-nav-item">
    <a id="<?= it.selected( 'latest', it.sub_nav_selected, 'article-sub-nav-selected' )?>" class="article-sub-nav-link " href="/topics/latest">Latest</a>
  </li>
  <li class="article-sub-nav-item">
    <a id="<?= it.selected( 'trending', it.sub_nav_selected, 'article-sub-nav-selected' )?>" class="article-sub-nav-link" href="/topics/trending">Trending</a>
  </li>
  <li class="article-sub-nav-item">
    <a id="<?= it.selected( 'unsolved', it.sub_nav_selected, 'article-sub-nav-selected' )?>" class="article-sub-nav-link" href="/topics/unsolved">Unsolved</a>
  </li>
  <?= new_btn ?>
</ul>
<? }); ?>